extends layout

block content
  script(src="scripts/vis-ctrl.js")
  script(src="scripts/d3.js")
  script(src="scripts/d3.v4.min.js")
  script(src="scripts/scatter3.js")

  script(src="scripts/shapes.js")
  script(src="scripts/stacked.js")
  script(src="scripts/d3-tip.js")

  link(rel="stylesheet", href="styles/scatter.css")
  link(rel="stylesheet", href="styles/slider.css")

  main.container-fluid(role="main", ng-controller="scatterCtrl as ctrl", style="padding-top:10px;")
    div.row
      div.col-md-8.container
        .row

          div.col-md-6
            div.input-group
              div.input-group-prepend
                button#dropdownMenuButton.btn.dropdown-toggle.btn-outline-secondary(
                    type="button",
                    data-toggle="dropdown",
                    aria-haspopup="true"
                    aria-expanded="false")
                  i.fa.fas.fa-cog
                div.dropdown-menu(aria-labelledby="dropdownMenuButton")
                  h6.dropdown-header Options:
                  div.dropdown-item
                    input#myCheckbox(type="checkbox")
                    | &nbsp; View vulnerabilities as percentage
                  div.dropdown-item
                    .form
                      .input-group
                        .input-group-prepend
                          .input-group-text Y Axis:
                        select.custom-select(ng-model="ctrl.conf.yAxis", ng-change="ctrl.setConf()")
                          option(ng-repeat="(name, obj) in ctrl.conf.yAxisOpts", value="{{name}}") {{ name }}
              input#search-input.form-control(
                  ng-submit="ctrl.search()",
                  ng-model="ctrl.searchTerm",
                  type="text",
                  placeholder="Search a package",
                  aria-label="Package name",
                  aria-describedby="basic-addon2")
              div.input-group-append
                button.btn.btn-outline-secondary(type="button", ng-click="ctrl.search()")
                  i.fa.fa-search.fa-fw

          //div.col-md-6
            form
              .form-row
                .form-group.col-md-6
                  .input-group
                    .input-group-prepend
                      .input-group-text Y Axis:
                    select.custom-select(ng-model="ctrl.conf.yAxis", ng-change="ctrl.setConf()")
                      option(ng-repeat="(name, obj) in ctrl.conf.yAxisOpts", value="{{name}}") {{ name }}
                .form-group.col-md-6
                  .input-group
                    .input-group-prepend
                      .input-group-text Size:
                    select.custom-select(ng-model="ctrl.conf.size", ng-change="ctrl.setConf()")
                      option(ng-repeat="(name, obj) in ctrl.conf.sizeOpts", value="{{name}}") {{ name }}

        .row
          scatter(details="ctrl.getPackages", binding="ctrl.scatter")

      div.col-md-4(style="padding-left: 0px;")
        form
          .form-row
            .form-group.col-md-6(style="margin-bottom: 0px;")
              .legend-title.noselect(ng-class="ctrl.show.categories ? 'active' : ''"
                                     ng-click="ctrl.show.categories = !ctrl.show.categories") Color by image:
                i.pull-right.fa(ng-class="ctrl.show.categories ? 'fa-angle-up' : 'fa-angle-down';")
              //.input-group.legend-select
                .input-group-prepend
                  .input-group-text Color by:
                select.custom-select(ng-model="ctrl.conf.category", ng-change="ctrl.setConf()", disabled)
                  option(ng-repeat="(name, obj) in ctrl.conf.categoryOpts", value="{{name}}") {{ name }}
              .legend-box(ng-class="ctrl.show.categories ? 'active' : ''")
                div.noselect(ng-repeat="(i, val) in ctrl.scatter.categories",
                             ng-click="ctrl.markCat(val)",
                             ng-class="val.marked ? 'active' : ''")
                  .small-box(style="background-color: {{ val.color }}")
                  .name {{ val.name }}
                  i.fa.fa-trash.pull-right(ng-click="ctrl.rmCat(val.name)")
                  i.fa.pull-right(ng-class="(val.marked || !ctrl.categoryMarked) ? 'fa-eye' : 'fa-eye-slash'")
            .form-group.col-md-6(style="margin-bottom: 0px;")
              .legend-title.noselect(ng-class="ctrl.show.shapes ? 'active' : ''",
                                     ng-click="ctrl.show.shapes = !ctrl.show.shapes") Shape by OS:
                i.pull-right.fa(ng-class="ctrl.show.shapes ? 'fa-angle-up' : 'fa-angle-down';")
              //.input-group.legend-select
                .input-group-prepend
                  .input-group-text Shape by
                select.custom-select(ng-model="ctrl.conf.shape", ng-change="ctrl.setConf()", disabled)
                  option(ng-repeat="(name, obj) in ctrl.conf.shapeOpts", value="{{name}}") {{ name }}
              .legend-box(ng-class="ctrl.show.shapes ? 'active' : ''")
                div.noselect(ng-repeat="(i, val) in ctrl.scatter.shapes",
                             ng-click="ctrl.markShape(val)",
                             ng-class="val.marked ? 'active' : ''")
                  shape(type="val.shape")
                  .name {{ val.name }}
                  i.fa.fa-trash.pull-right(ng-click="ctrl.rmShape(val.name)")
                  i.fa.pull-right(ng-class="(val.marked || !ctrl.shapeMarked) ? 'fa-eye' : 'fa-eye-slash'")

        .filter-title.noselect(ng-class="ctrl.show.filters ? 'active' : ''"
                               ng-click="ctrl.show.filters = !ctrl.show.filters") Filters:
          i.pull-right.fa(ng-class="ctrl.show.filters ? 'fa-angle-up' : 'fa-angle-down';")
        .container.filter-box(ng-class="ctrl.show.filters ? 'active' : ''")
          .row(ng-if="ctrl.users.length > 0")
            .col-md-4.filter-legend Users:
            .col-md-8
              .user-box(ng-repeat="(i, val) in ctrl.users") {{ val }}
                i.fa.fa-times(ng-click="ctrl.removeUser(val)")

          .row
            .col-md-4.filter-legend Size:
            rzslider.col-md-8(rz-slider-model="ctrl.filters.size.min",
                     rz-slider-high="ctrl.filters.size.max", rz-slider-options="ctrl.filters.size.opts")
          .row
            .col-md-4.filter-legend Vulnerabilities:
            rzslider.col-md-8(rz-slider-model="ctrl.filters.vuln.min",
                     rz-slider-high="ctrl.filters.vuln.max", rz-slider-options="ctrl.filters.vuln.opts")
          .row
            .col-md-4.filter-legend Packages:
            rzslider.col-md-8(rz-slider-model="ctrl.filters.packages.min",
                     rz-slider-high="ctrl.filters.packages.max", rz-slider-options="ctrl.filters.packages.opts")
          //.row
            .col-md-4.filter-legend Score:
            rzslider.col-md-8(rz-slider-model="ctrl.filters.score.min",
                     rz-slider-high="ctrl.filters.score.max", rz-slider-options="ctrl.filters.score.opts")
          .row
            //.col-md-4.filter-legend Text:
            div.input-group.col-md-12(style="padding: 0;")
              input#filter-input.form-control(
                  ng-model="ctrl.filters.text",
                  type="text",
                  placeholder="Text filter")
              div.input-group-append
                button.btn.btn-outline-secondary(type="button", ng-click="ctrl.applyFilters()")
                  i.fa.fa-refresh.fa-fw

        .filter-title.noselect(ng-if="ctrl.selected"
                               ng-class="ctrl.show.details ? 'active' : ''"
                               ng-click="ctrl.show.details = !ctrl.show.details") 
          div Vulnerabilities of 
            b {{ctrl.selected.parent.name}}:{{ctrl.selected.name}}
            |:
          i.pull-right.fa(ng-class="ctrl.show.details ? 'fa-angle-up' : 'fa-angle-down';")
          .pull-right.mr-2 ({{ctrl.selected.vuln}})
        .container.filter-box(ng-class="ctrl.show.details ? 'active' : ''")
          div.div-table(ng-repeat="title in ['Critical', 'High', 'Medium', 'Low']",
                        ng-class="ctrl.details.active[title] ? 'active' : '';",
                        ng-if="ctrl.details.data[title].length > 0",
                        ng-init="ctrl.details.active[title]=false;")
            div.table-header(ng-click="ctrl.details.active[title] = !ctrl.details.active[title];",
                             ng-class="'v'+title") {{ title }} ({{ ctrl.details.data[title].length }})
              i.pull-right.fa(ng-class="ctrl.details.active[title] ? 'fa-angle-up' : 'fa-angle-down';")
            div.table-body
              div.row.row-table(ng-repeat="(i,obj) in ctrl.details.data[title]")
                div.col-4 {{ obj.package }}
                div.col-3 {{ obj.version }}
                div.col-5 
                  a(href="{{ obj.link }}", target="_blank") {{ obj.name }}

        stacked(update="ctrl.com")
