extends layout

block content
  //link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  script(src="scripts/vis-ctrl.js")
  script(src="scripts/d3.js")
  script(src="scripts/d3.v4.min.js")
  script(src="scripts/scatter2.js")
  script(src="scripts/stacked.js")

  main.container-fluid(role="main", ng-controller="visCtrl")
    div.row
      div.col-md-2
      div.col-md-8
        input.form-control(type="text",
              placeholder="Search some user",
              ng-model="selected",
              typeahead-editable="false",
              typeahead-on-select="getData()",
              uib-typeahead="user for user in users | filter:$viewValue | limitTo:8")
    div.row
      div.col-md-8
      div.col-md-4
        input#myCheckbox(type="checkbox")
        | View in percentage
    div.row
      div.col-md-8
        scatter(data="data", update="upd", selected="selected", details="com")
      div.col-md-4(style="height: 500px; overflow-y: scroll;")
        stacked(data="data", selected="selected", update="com")
