extends layout

block content
  //link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  script(src="scripts/d3.js")
  script(src="scripts/treemap-ctrl.js")
  script(src="scripts/dir-treemap.js")

  link(rel="stylesheet", href="styles/treemap.css")

  main.container-fluid(role="main", ng-controller="treemapCtrl as ctrl")
    div.row(style="margin-top:10px; margin-bottom: -10px;")
      div.col-md-4
        div.input-group.mb-3
          div.input-group-prepend
            button#dropdownMenuButton.btn.dropdown-toggle.btn-outline-secondary(
                type="button",
                data-toggle="dropdown",
                aria-haspopup="true"
                aria-expanded="false")
              i.fa.fas.fa-cog
            div.dropdown-menu(aria-labelledby="dropdownMenuButton")
              h6.dropdown-header Box size encoding attributes:
              div.dropdown-item
                input(type="checkbox", ng-model="ctrl.encode.size")
                | &nbsp; Size
              div.dropdown-item
                input(type="checkbox", ng-model="ctrl.encode.popularity")
                | &nbsp; Popularity
              div.dropdown-item
                input(type="checkbox", ng-model="ctrl.encode.vulnerabilities")
                | &nbsp; Vulnerabilities
          input#search-input.form-control(
              ng-submit="ctrl.search()",
              ng-model="ctrl.searchTerm",
              type="text",
              placeholder="Search a package",
              aria-label="Package name",
              aria-describedby="basic-addon2")
          div.input-group-append
            button.btn.btn-outline-secondary(type="button", ng-click="ctrl.search()")
              i.fa.fa-search.fa-fw
      div.col-md-8
        div#legend()
    treemap#chart(update="ctrl.upd", encoding="ctrl.encode", ng-hide="!ctrl.data")
