extends layout

block content
  //link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  script(src="scripts/d3.js")
  script(src="scripts/treemap-ctrl.js")
  script(src="scripts/dir-treemap.js")
  script(src="scripts/ctrl-modals.js")

  link(rel="stylesheet", href="styles/treemap.css")

  main.container-fluid(role="main", ng-controller="treemapCtrl as ctrl")
    div.row(style="margin-top:10px; margin-bottom: -10px;")
      div.col-md-4
        div.input-group.mb-3#step1
          div.input-group-prepend
            button#dropdownMenuButton.btn.dropdown-toggle.btn-outline-secondary(
                type="button",
                data-toggle="dropdown",
                aria-haspopup="true"
                aria-expanded="false")
              i.fa.fas.fa-cog
            div#dropdownMenu.dropdown-menu(aria-labelledby="dropdownMenuButton")
              h6.dropdown-header Box size encoding attributes:
              .dropdown-item(ng-click="ctrl.encodeToggle('size'); $event.stopPropagation();")
                input(type="checkbox", ng-model="ctrl.encode.size")
                | &nbsp; Size
              .dropdown-item(ng-click="ctrl.encodeToggle('popularity'); $event.stopPropagation();")
                input(type="checkbox", ng-model="ctrl.encode.popularity")
                | &nbsp; Popularity
              .dropdown-item(ng-click="ctrl.encodeToggle('vulnerabilities'); $event.stopPropagation();")
                input(type="checkbox", ng-model="ctrl.encode.vulnerabilities")
                | &nbsp; Vulnerabilities
              .dropdown-divider
              .dropdown-item(style="text-align: center;", ng-click="ctrl.tutorial()")
                a(href="") Run tutorial
          input#search-input.form-control(
              ng-submit="ctrl.search()",
              ng-model="ctrl.searchTerm",
              type="text",
              placeholder="Search a package",
              aria-label="Package name",
              aria-describedby="basic-addon2")
          div#step1.input-group-append
            button.btn.btn-outline-secondary(type="button", ng-click="ctrl.search()")
              i.fa.fa-search.fa-fw
      div.col-md-8
        div.pull-right#legend()
    div.alert.alert-warning(role="alert", ng-hide="!ctrl.noResults") No results found!
    treemap#chart(update="ctrl.upd", encoding="ctrl.encode", test="ctrl.test", ng-hide="!ctrl.data")
    div(ng-hide="ctrl.data", style="display:table; height: 400px; width:100%;")
      div(style="display:table-cell; vertical-align: middle;")
        h3#tutor(ng-click="ctrl.tutorial()") Need help? Click here to run the tutorial!
